<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73d5c3">  <td>16/10/22 16:35:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;order_process.setUp()[pri:0, instance:atmayfairpackage.order_process@6bbee61a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1016491445</td>   <td></td> </tr>
<tr bgcolor="73d5c3">  <td>16/10/22 16:35:50</td>   <td>30315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="order_process.testsinup()[pri:0, instance:atmayfairpackage.order_process@6bbee61a]">testsinup</td> 
  <td>main@1016491445</td>   <td></td> </tr>
</table>
